.nav-container {
    position: fixed;
    display: flex;
    width: 360px;
    height: 70px;
    /* padding: 0 10px; */
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: space-evenly;
    backdrop-filter: blur(15px);
    align-items: center;
    bottom: 50px;
    right: calc(50% - 180px);
    border-radius: 50px;


    .nav-item {
        cursor: pointer;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .nav-item:hover {
        background-color: rgb(00, 0, 0);
    }

    .active {
        background-color: #303056 !important;
    }
}